body 
{
    width: 1000px;
	margin: 0px auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top:2px;
}
.page-name
{
    font-size:1.2em;
    font-weight:bold;
    text-align:center;
    margin-bottom:2px;
    padding:5px 0 5px 0;
}
.border-all
{
    border: 1px solid #999999;
}
.border-top-bottom
{
    border-style: solid none solid none;
    border-width: 1px;
    border-color: #999999;
}
.border-top
{
    border-style: solid none none none;
    border-width: 1px;
    border-color: #999999;
}
.border-bottom
{
    border-style: none none solid none;
    border-width: 1px;
    border-color: #999999;
}
.left
{
    
    width: 250px;
    float: left;
}
.right
{
    
    width:740px;
    display:inline-block;
    float:right;
}
.subtitle
{
    font-weight:bold;
    padding: 5px;
    font-size:1.2em;
    
}

.content-left
{
    
}
.content-left .name
{
    
}
.content-left .value
{
    color:Red;
}
.line
{
    padding:3px 5px 3px 5px;
    margin:0px;   
}
.split
{
    font-size:0px;
    height:1px;
    background-color:#999999;
}

.content-right
{
    
}
.content-right table
{
    width:100%;
}
.content-right table thead tr td
{
    font-weight:bold;
    padding:3px 0 3px 0;
}

.content-right table td
{
    border: 1px solid #999999;
}