<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="5.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net40" />
</packages>