<div class="content guide">
    <center>
        <h2>
            HƯỚNG DẪN CÁCH CHƠI</h2>
    </center>
    <ul class="first" style="list-style: none;">
        <li><span style="font-size: 14px; font-weight: bold;">1. CÁCH THỨC ĐĂNG KÝ</span>
            <ul style="list-style: none;">
                <li>Để đăng ký dịch vụ và có cơ hội tham gia chương trình khuyến mại, khách hàng soạn tin <b>DK</b> gửi 9696 (cước thuê bao: 5.000đ/ngày, miễn phí ngày đầu tiên cho các khách hàng đăng ký dịch vụ lần đầu). </li>
            </ul>
        </li>
        <li><span style="font-size: 14px; font-weight: bold;">2. CÁCH THỨC HỦY</span>
            <ul style="list-style-type: square;">
                <li><b>Bước 1:</b> khách hàng nhắn tin theo cú pháp <strong>HUY</strong> gửi đến 9696.</li>
                <li><b>Bước 2:</b> Hệ thống sẽ gửi khách hàng 01 tin nhắn để khách hàng xác nhận chắc chắn muốn hủy bỏ dịch vụ khỏi hệ thống, để xác nhận hủy dịch vụ khách hàng nhắn <b>Y</b> gửi 9696, khi đó:
                    <ul>
                        <li>Hệ thống sẽ dừng gửi các bản tin về chương trình hàng ngày, dừng gửi tin nhắn dự đoán cho khách hàng.</li>
                        <li>Điểm tích lũy và Mã dự thưởng của khách hàng thuộc chương trình khuyến mại sẽ không được bảo lưu để tham gia các giải đặc biệt trong ngày.</li>
                    </ul>
                </li>
                <li>Dịch vụ sẽ chỉ được hủy sau khi khách hàng đã hoàn tất 2 bước trên.</li>
                <li>Ngoài ra, khách hàng cũng có thể gọi đến tổng đài 9191 để đề nghị dừng tham gia chương trình và không tiếp tục nhận tin nhắn dự đoán từ hệ thống.</li>
                <li>Sau khi đã hủy dịch vụ, nếu khách hàng muốn tiếp tục sử dụng dịch vụ, khách hàng phải đăng ký lại để được tiếp tục nhận bản tin thể thao hàng ngày (5.000đ/ngày).</li>
            </ul>
        </li>
    </ul>
</div>
