<div class="content guide">
    <center>
        <h2>
            THỂ LỆ GIẢI THƯỞNG</h2>
    </center>
    <ul class="first" style="list-style: none;">
        <li><span style="font-size: 14px; font-weight: bold;">1. Giới thiệu chương trình khuyến mại:</span><br />
            Là thuê bao dịch vụ Triệu phú Thể thao, khách hàng sẽ được hưởng các quyền lợi thuộc chương trình khuyến mại: “Sôi động cùng Triệu phú thể thao, cơ hội trúng thưởng 10 triệu mỗi ngày” như sau:
            <ul style="list-style-type: square;">
                <li>Mỗi ngày, chương trình sẽ đưa ra 1 trận đấu thuộc 1 giải đấu trong nước hoặc quốc tế (Giải ngoại hạng Anh, giải bóng đá Tây Ban Nha, cúp C1) sẽ diễn ra trong ngày đó. Các khách hàng là thuê bao dịch vụ sẽ được mời tham gia dự đoán miễn phí về 5 nội dung khác nhau liên quan đến trận đấu bao gồm:
                    <ul>
                        <li>Dự đoán kết quả trận đấu (thắng – hòa – thua):<br />
                            Cú pháp dự đoán: KQ 1 hoặc KQ 2 hoặc KQ 3 trong đó KQ 1 tương ứng với đội đứng trước thắng, KQ 2 tương ứng với kết quả Hòa, KQ 3 tương ứng với đội đứng sau thắng. </li>
                        <li>Dự đoán tổng số bàn thắng của trận đấu:<br />
                            Cú pháp dự đoán: BT X trong đó X tương ứng với tổng số bàn thắng cả 2 đội ghi được trong thời gian thi đấu chính thức của trận đấu. </li>
                        <li>Dự đoán tỉ số trong thời gian thi đấu chính thức của trận đấu:
                            <br />
                            Cú pháp dự đoán: TS X Y trong đó X tương ứng với số bàn thắng đội đứng trước ghi được, Y tương ứng với số bàn thắng đội đứng sau ghi được trong thời gian thi đấu chính thức của trận đấu. </li>
                        <li>Dự đoán đội giữ bóng nhiều hơn trong trận đấu<br />
                            Cú pháp dự đoán: GB 1 hoặc GB 2 hoặc GB 3 trong đó GB 1 tương ứng với đội đứng trước giữ bóng nhiều hơn, GB 2 tương ứng với 2 đội có tỉ lệ giữ bóng như nhau, GB 3 tương ứng với đội đứng sau giữ bóng nhiều hơn. </li>
                        <li>Dự đoán tổng số thẻ vàng của trong thời gian thi đấu chính thức của trận đấu.<br />
                            Cú pháp dự đoán: TV Z trong đó Z tương ứng với tổng số thẻ vàng trọng tài rút ra cho 2 đội trong thời gian thi đấu chính thức của trận đấu. </li>
                    </ul>
                </li>
                <li>Khách hàng có thể gửi nhiều tin nhắn dự đoán khác nhau về cùng 1 nội dung, tuy nhiên tổng số tin nhắn tối đa khách hàng được phép gửi cho 1 trận đấu cho cả 5 dự đoán là: 10 tin nhắn. Với mỗi dự đoán, hệ thống sẽ ghi nhận tin nhắn dự đoán cuối cùng của khách hàng là dự đoán chính thức để xem xét tính điểm cũng như tính thời gian tham gia của khách hàng.</li>
                <li>Thời gian để khách hàng tham gia dự đoán cho 1 trận đấu sẽ bắt đầu từ 8h30’00” cho đến 23h59’59” cùng ngày hoặc cho đến hết hiệp 1 của trận đấu. Thời gian tính theo thời gian của hệ thống. </li>
                <li>Tin nhắn dự đoán của ngày nào sẽ chỉ có giá trị cho trận đấu mà chương trình đưa ra trong ngày hôm đó.</li>
            </ul>
        </li>
        <li><span style="font-size: 14px; font-weight: bold;">2. Thời gian triển khai khuyến mại:</span>
            <ul style="list-style-type: square;">
                <li>Chương trình khuyến mại: “Sôi động cùng Triệu phú thể thao, cơ hội trúng thưởng 10 triệu mỗi ngày”: Từ ngày 25/08/2013 đến ngày 24/08/2014. </li>
                <li>Chương trình khuyến mại được triển khai theo các đợt như sau:
                    <ul>
                        <li>Đợt 1: Từ ngày 25/08/2013 đến ngày 17/11/2013;</li>
                        <li>Đợt 2: Từ ngày 18/11/2013 đến ngày 09/02/2014;</li>
                        <li>Đợt 3: Từ ngày 10/02/2014 đến ngày 04/05/2014; </li>
                        <li>Đợt 4: Từ ngày 05/05/2014 đến ngày 27/07/2014;</li>
                        <li>Đợt 5: Từ ngày 28/07/2014 đến ngày 24/08/2014.</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><span style="font-size: 14px; font-weight: bold;">3. Giải thưởng:</span>
            <ul>
                <li style="list-style: none;">Cơ cấu giải thưởng chương trình khuyến mại “Sôi động cùng Triệu phú thể thao, cơ hội trúng thưởng 10 triệu mỗi ngày”:
                    <center>
                        <p>
                            <table cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <th>
                                            STT
                                        </th>
                                        <th>
                                            Giải thưởng
                                        </th>
                                        <th>
                                            Giá trị (đồng)
                                        </th>
                                        <th>
                                            Số lượng
                                        </th>
                                        <th>
                                            Thành tiền (đồng)
                                        </th>
                                    </tr>
                                    <tr>
                                        <td><b>I</b> </td>
                                        <td colspan="4">Giải đặc biệt ngày (365 giải) </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Giá trị giải đặc biệt ngày </td>
                                        <td>10 triệu </td>
                                        <td>365 </td>
                                        <td>3.65 tỷ </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><b>Tổng</b> </td>
                                        <td></td>
                                        <td>365 </td>
                                        <td>3.65 tỷ </td>
                                    </tr>
                                </tbody>
                            </table>
                            <i>Tổng giá trị giải thưởng: 3.65 tỷ VNĐ (Bằng chữ: Ba tỷ sáu trăm năm mươi triệu đồng chẵn) </i>
                        </p>
                    </center>
                </li>
            </ul>
        </li>
        <li><span style="font-size: 14px; font-weight: bold;">4. Cách thức tính lũy điểm:</span><br />
            Thuê bao được cộng các loại điểm như sau:
            <ul style="list-style-type: square;">
                <li>Điểm khi đăng ký mới dịch vụ: Thuê bao đăng ký dịch vụ Triệu phú Thể thao thành công: 1.000 điểm/lần đăng ký. Áp dụng với các trường hợp: thuê bao đăng ký lần đầu được miễn cước, thuê bao đăng ký từ lần thứ hai và bị trừ cước, thuê bao đã hủy và đăng ký lại dịch vụ.</li>
                <li>Điểm gia hạn thành công: tùy từng mức cước ngày sẽ có mức điểm cộng tương ứng
                    <center>
                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        Mức trừ cước
                                    </th>
                                    <th>
                                        Điểm tương ứng
                                    </th>
                                </tr>
                                <tr>
                                    <td>1 </td>
                                    <td>5.000đ/ngà </td>
                                    <td>1.000 </td>
                                </tr>
                                <tr>
                                    <td>2 </td>
                                    <td>3.000đ/ngày </td>
                                    <td>600 </td>
                                </tr>
                                <tr>
                                    <td>3 </td>
                                    <td>1.000đ/ngày </td>
                                    <td>200 </td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                </li>
                <li>Điểm trả lời câu hỏi của chương trình:
                    <ul>
                        <li>Dự đoán đúng: 500 điểm/lần dự đoán đúng (điểm sẽ được lũy tiến theo ngày = 500 + 50*(n-1). Trong đó n là ngày thứ n triển khai chương trình khuyến mại tính theo từng đợt. Đợt 1: Từ ngày 25/08/2013 đến ngày 17/11/2013; Đợt 2: Từ ngày 18/11/2013 đến ngày 09/02/2014; Đợt 3: Từ ngày 10/02/2014 đến ngày 04/05/2014; Đợt 4: Từ ngày 05/05/2014 đến ngày 27/07/2014; Đợt 5: Từ ngày 28/07/2014 đến ngày 24/08/2014)</li>
                        <li>đoán sai: 0 điểm/lần dự đoán sai. </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><span style="font-size: 14px; font-weight: bold;">3. Phương thức tính Mã dự thưởng:</span>
            <ul style="list-style-type: square;">
                <li>Nguyên tắc đổi điểm thành mã dự thưởng: Với mỗi 50 điểm thưởng, khách hàng sẽ được quy đổi thành 01 mã dự thưởng. Hệ thống thực hiện quy đổi từ điểm thưởng sang mã dự thưởng ngay mỗi khi khách hàng tích lũy đủ 50 điểm.</li>
                <li>Quy định Mã dự thưởng:
                    <ul>
                        <li>Mã Dự Thưởng được hệ thống đưa ra theo quy định là 10 số tự nhiên ngẫu nhiên, bắt đầu từ 1.000.000.000.</li>
                        <li>GIẢI THƯỞNG đặc biệt trong ngày sẽ được xác định bằng cách sử dụng các chuỗi mã dự thưởng theo chu kỳ ngày (tính từ 0h00:00 của ngày đến 23h59:59 ngày đó; VD: tính từ 0h00:00 ngày 25/08/2013 đến 23h59:59 ngày 25/08/2013). </li>
                    </ul>
                    <li>Mã dự thưởng của ngày nào thì được tham gia quay số trúng thưởng cho ngày đó. Sang ngày tiếp theo, thuê bao sẽ bắt đầu tích lũy mã dự thưởng dựa theo số điểm mới phát sinh trong ngày đó được ghi nhận theo thời gian tích lũy điểm. Ví dụ: Nếu một Thuê bao tham gia đã tích lũy được mười (20) Mã dự thưởng vào chu kỳ giải thưởng ngày 25/08/2013, và tiếp tục tham gia giải ngày 26/08/2013, người đó sẽ bắt đầu chu kỳ ngày mới với không (0) Mã dự thưởng. Muốn có thêm mã dự thưởng thì thuê bao đó sẽ phải tích lũy điểm thưởng tiếp để quy đổi ra mã mới.</li>
                    <li>Tổng số mã khách hàng đã tích lũy được trong ngày trước sẽ không có giá trị để quay số trong ngày tiếp theo.</li>
                    <li>Để tra cứu điểm thưởng và số lượng các mã dự thưởng của mình, khách hàng có thể nhắn tin theo cú pháp MDT gửi tới đầu số của dịch vụ.</li>
                    <li>Để tra cứu chi tiết mã dự thưởng, khách hàng truy cập website dịch vụ tại địa chỉ http://thethao.vinaphone.com.vn. Khách hàng thực hiện đăng nhập website bằng số điện thoại tham gia chương trình và sử dụng mật khẩu một lần (OTP) được hệ thống gửi về máy di động của khách hàng để tra cứu.</li>
            </ul>
        </li>
        <li><span style="font-size: 14px; font-weight: bold;">4. Cách thức xác định thuê bao trúng thưởng:</span>
            <ul style="list-style-type: square;">
                <li>Việc quay thưởng được thực hiện theo hình thức quay số phần mềm điện tử 01 lần/tuần tại Tòa nhà VinaPhone, Tầng 4 tòa nhà VinaPhone, 57A Huỳnh Thúc Kháng, Đống Đa, Hà Nội. Dịch vụ Triệu phú thể thao sử dụng hệ thống phần mềm quay thưởng của Công ty VinaPhone, do Công ty VinaPhone phát triển và sở hữu.</li>
                <li>Việc quay thưởng sẽ được chứng kiến bởi đại diện của VinaPhone, khách hàng, đại diện cơ quan Báo chí và Đại diện của Cục Xúc tiến Thương mại-Bộ Công Thương. </li>
                <li>Thời gian quay thưởng được thực hiện vào thứ ba hàng tuần. Mỗi đợt quay số sẽ chọn ra những người trúng thưởng giải ngày của tuần trước đó.
                    <ul>
                        <li>Mỗi lần quay thưởng giải ngày sẽ xác định 01 mã số trúng thưởng tương ứng với 01 người trúng thưởng giải ngày và 03 mã số trúng thưởng dự phòng. </li>
                    </ul>
                    <li>Đối với giải thưởng đặc biệt trong ngày:
                        <ul>
                            <li>Người thắng cuộc của Giải Thưởng ngày được xác định trong thời hạn của Cuộc chơi thông qua quay số bằng phần mềm điện tử, trong đó người thắng cuộc sẽ được lựa chọn ngẫu nhiên từ các MÃ DỰ THƯỞNG có đủ điều kiện.</li>
                            <li>Dữ liệu bao gồm tập hợp các MÃ DỰ THƯỞNG mà mỗi Thuê bao tham gia tích lũy được theo chu kỳ ngày (tính từ 0h00:00 của ngày đến 23h59:59 ngày đó; VD: tính từ 0h00:00 ngày 25/08/2013 đến 23h59:59 ngày 25/08/2013). </li>
                        </ul>
                    </li>
                    <li>Mã dự thưởng của ngày nào thì được tham gia quay số trúng thưởng cho ngày đó. Sang ngày tiếp theo, thuê bao sẽ bắt đầu tích lũy mã dự thưởng dựa theo số điểm mới phát sinh trong ngày đó được ghi nhận theo thời gian tích lũy điểm. Ví dụ: Nếu một Thuê bao tham gia đã tích lũy được mười (20) Mã dự thưởng vào chu kỳ giải thưởng ngày 25/08/2013, và tiếp tục tham gia giải ngày 26/08/2013, người đó sẽ bắt đầu chu kỳ ngày mới với không (0) Mã dự thưởng. Muốn có thêm mã dự thưởng thì thuê bao đó sẽ phải tích lũy điểm thưởng tiếp để quy đổi ra mã mới.</li>
                    <li>Tổng số mã khách hàng đã tích lũy được trong ngày trước sẽ không có giá trị để quay số trong ngày tiếp theo.</li>
                    <li>Một thuê bao có thể được trúng nhiều giải thưởng ngày.</li>
            </ul>
        </li>
        <li><span style="font-size: 14px; font-weight: bold;">5. Thời gian quay thưởng:</span>
            <ul style="list-style-type: square;">
                <li>Thời gian quay thưởng được thực hiện vào thứ ba hàng tuần. Mỗi đợt quay số sẽ chọn ra những người trúng thưởng giải ngày của tuần trước đó. </li>
            </ul>
        </li>
        <li><span style="font-size: 14px; font-weight: bold;">6. Thủ tục, điều lệ nhận thưởng và quy định giải thưởng:</span>
            <ul style="list-style: none;">
                <li><b>6.1. Quy định trả thưởng:</b>
                    <ul>
                        <li>Trong vòng 5 ngày làm việc sau khi quay thưởng, VinaPhone sẽ tiến hành gọi điện trực tiếp để xác minh thuê bao trúng thưởng. VinaPhone sẽ tiến hành liên hệ khách hàng trong 3 ngày làm việc liên tục trong khoảng thời gian từ 8h00 đến 17h00 hàng ngày, mỗi ngày tối đa 5 cuộc gọi. Trong thời gian liên hệ như trên, VinaPhone không liên hệ được với thuê bao do bất kỳ nguyên do nào, thuê bao coi như không liên hệ được và VinaPhone sẽ tiến hành trao thưởng cho các thuê bao dự bị (theo thứ tự ưu tiên từ thuê bao dự bị 1 đến thuê bao dự bị 3) theo nguyên tắc như trên. </li>
                        <li>Nếu người trúng thưởng và tất cả những người trúng thưởng tiếp theo trong danh sách dự phòng bị tước giải thưởng hoặc không thể liên hệ được, giải thưởng được xem là chưa được trao và thuộc quyền định đoạt của VinaPhone. </li>
                        <li>Vào thời điểm xác minh trúng thưởng và nhận các giải thưởng, số thuê bao trúng thưởng phải đang ở trạng thái hoạt động cả 2 chiều. Giải thưởng chỉ được trao cho chủ thuê bao là người đứng tên đăng ký thông tin thuê bao đã đăng ký thông tin với Trung tâm Phát triển Dịch vụ – Công ty Dịch vụ Viễn thông Vinaphone.</li>
                        <li>Trường hợp khách hàng chuyển đổi hình thức sử dụng (giữa các dịch vụ trả trước, từ trả sau sang trả trước hoặc ngược lại) thì giải thưởng vẫn được giữ nguyên. Trường hợp khách hàng chuyển chủ quyền: Giải thưởng sẽ được trao cho chủ thuê bao mới.</li>
                        <li>Trong vòng 30 ngày sau khi nhận được đầy đủ bộ hồ sơ nhận thưởng từ thuê bao trúng thưởng, VinaPhone sẽ tiến hành gửi thưởng cho khách hàng. </li>
                        <li>Trong trường hợp khách hàng trúng thưởng không được nhận giải thưởng (do vi phạm quy định chương trình, do từ chối nhận giải thưởng...), giải thưởng cũng sẽ được trao cho người kế tiếp theo các nguyên tắc ưu tiên như bên trên.</li>
                        <li>Địa điểm & hình thức trả thưởng: chuyển tiền qua tài khoản.</li>
                    </ul>
                </li>
                <li><b>6.2. Quy trình xác minh chủ thuê bao trúng thưởng:</b><br />
                    Việc thực hiện xác minh chủ nhân thuê bao trúng thưởng sẽ được thực hiện theo các bước như sau:
                    <ul>
                        <li>Bước 1: Kiểm tra thông tin về chủ thuê bao trên hệ thống VinaPhone (Tên chủ thuê bao, số CMND/hộ chiếu).</li>
                        <li>Bước 2: Liên lạc với chủ thuê bao thông báo về việc trúng giải (trực tiếp tối đa 15 lần bằng số điện thoại 04.37735555 và số nghiệp vụ của VinaPhone).</li>
                        <li>Bước 3: Yêu cầu chủ thuê bao cung cấp thông tin xác thực (Tên chủ thuê bao, số CMND/hộ chiếu).</li>
                        <li>Bước 4: Nếu chủ thuê bao cung cấp chính xác các thông tin, chuyển sang Bước 5. Nếu không chuyển sang Bước 6.</li>
                        <li>Bước 5: Yêu cầu chủ thuê bao mang theo điện thoại và CMND/hộ chiếu đến văn phòng VinaPhone để nhận giải và ký biên bản xác nhận đã nhận giải thưởng. Giải thưởng chỉ được trao cho khách hàng khi có đầy đủ các giấy tờ chứng minh chủ thuê bao trùng khớp với thông tin đã xác minh.</li>
                        <li>Bước 6: Thực hiện xác minh theo mẫu phiếu xác minh. Nếu xác nhận thành công thì yêu cầu khách hàng đăng ký lại thông tin thuê bao trả trước và quay trở lại Bước 5. Nếu không chuyển sang Bước 7.</li>
                        <li>Bước 7: Nếu không xác định được chủ nhân thuê bao trúng thưởng thì giải thưởng sẽ hủy bỏ theo nguyên tắc trao thưởng.</li>
                        <li>Bước 8: Đối với thuê bao trả sau, phải thanh toán cước tháng đầy đủ thì mới được nhận thưởng.</li>
                        <li>Ghi chú: Nếu khách hàng là thuê bao tên công ty thì phải có hợp đồng cung cấp và sử dụng dịch vụ viễn thông (bản sao), hóa đơn cước tháng gần nhất, giới thiệu của công ty cho cá nhân sử dụng số thuê bao đến xác minh, bản sao chứng minh nhân dân cá nhân.</li>
                        <li>Bước 9: Trao thưởng: VinaPhone tiến hành trả thưởng cho khách hàng sau khi xác minh hoàn tất và trong thời gian cam kết của chương trình.</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><span style="font-size: 14px; font-weight: bold;">7. Các quy định khác:</span>
            <ul style="list-style-type: square;">
                <li>Ban tổ chức có quyền sử dụng tên, tuổi, địa chỉ và các hình ảnh, giọng nói của người trúng thưởng cho mục đích quảng bá truyền thông Chương trình mà không cần xin phép hay trả bất kỳ chi phí nào thêm cho người trúng thưởng.</li>
                <li>Khách hàng trúng thưởng phải chịu chi phí đi lại, ăn ở cho việc nhận thưởng của mình.</li>
                <li>Khách hàng trúng thưởng phải nộp thuế thu nhập không thường xuyên (nếu có) theo quy định của pháp luật hiện hành.</li>
                <li>Những thuê bao tham gia không được phép sử dụng thiết bị gửi tin nhắn tự động hoặc để tự động hóa tạo thuận lợi cho quá trình trả lời hoặc bất kỳ phương thức nào khác để gửi tin nhắn, mà không phải là gửi bằng điện thoại di động (cấm việc sử dụng bất kỳ bộ điều giải GSM gắn với một máy tính hoặc điện thoại di động gắn với máy tính). VinaPhone sẽ loại bỏ bất kỳ thuê bao tham gia vi phạm nghĩa vụ này sau khi xác minh và có báo cáo với cơ quan có thẩm quyền.</li>
                <li>VinaPhone phải hoàn toàn chịu trách nhiệm trong việc quản lý khâu in ấn, tính chính xác của bằng chứng xác định trúng thưởng. Trường hợp bằng chứng xác định trúng thưởng do Ngân hàng phát hành có sai sót gây hiểu lầm cho khách hàng trong việc trúng giải thì Ngân hàng có trách nhiệm trao những giải thưởng ấy cho khách hàng. Việc tổ chức chương trình khuyến mại phải đảm bảo tính công bằng, minh bạch và khách quan.</li>
                <li>Trong trường hợp xảy ra tranh chấp liên quan đến chương trình khuyến mại này, VinaPhone có trách nhiệm trực tiếp giải quyết, nếu không thỏa thuận được tranh chấp sẽ được xử lý theo quy định của pháp luật hiện hành.</li>
                <li>Đối với những giải thưởng không có người trúng thưởng, VinaPhone phải có trách nhiệm trích nộp 50% giá trị đã công bố của giải thưởng đó vào ngân sách nhà nước theo quy định tại khoản 4 điều 96 Luật Thương mại. </li>
            </ul>
        </li>
    </ul>
</div>
