<div class="tintuc_sukien">
    <h2 class="title_tintuc_sukien">
        <a href="{DNS}/NewsDetail/{0}/{1}.html" class="link_name_tintuc_sukien">{2}</a>
    </h2>
    <p class="day">
        Ngày đăng: {3}</p>
    <p class="border_img_tintuc">
        <a href="{DNS}/NewsDetail/{0}/{1}.html">
            <img src="{4}" alt="Images" class="img_tintuc_sukien" /></a></p>
    <p class="about_tintuc">{5}</p>
    <p class="right">
        <a href="{DNS}/NewsDetail/{0}/{1}.html" class="more_link" rel="nofollow">[Chi tiết...]</a></p>
</div>
