<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th rowspan="2">Tuần/Năm</th>
            <th colspan="7">MO Dự đoán</th>
        </tr>
        <tr>
            <th>Tổng</th>
            <th>Thành công</th>
            <th>Sai cú pháp</th>
            <th>Vượt SL MO/Ngày</th>
            <th>Hết hạn Dự đoán</th>
            <th>Lỗi hệ thống</th>
            <th title="Trứ tiền không thành công, Chưa DK đã dữ đoán, Lỗi khác">Lỗi khác</th>
        </tr>
        {0}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><img src="{1}" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
