<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th rowspan="2">Ngày</th>
            <th colspan="2">MT</th>
            <th colspan="5">MO</th>
        </tr>
        <tr>
            <th>Tổng</th>
            <th>Gửi không thành công</th>
            <th>Tổng</th>
            <th>Xử lý Thành công</th>
            <th>Sai cú pháp</th>
            <th>Lỗi hệ thống</th>
            <th>Lỗi khác</th>
        </tr>
        {0}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><img src="{1}" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
