<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th rowspan="2">Ngày</th>
            <th colspan="2">MT</th>
            <th colspan="6">MO</th>
            <th colspan="6">MO Đăng ký</th>
            <th colspan="6">MO Hủy</th>
            <th colspan="8">MO Dự đoán</th>
        </tr>
        <tr>
            <th>Tổng</th>
            <th>Thất bại</th>
            <th>Tổng</th>
            <th>Thành công</th>
            <th>Sai C.Pháp</th>
            <th>Lỗi H.Thống</th>
            <th>Lỗi khác</th>
            <th>Tỷ lệ (%)</th>
            <th>Tổng</th>
            <th>Thành công</th>
            <th>Không đủ tiền</th>
            <th>Lỗi H.Thống</th>
            <th>Lỗi khác</th>
            <th>Tỷ lệ (%)</th>
            <th>Tổng</th>
            <th>Xác nhận hủy</th>
            <th>Thành công</th>
            <th>Thất bại</th>
            <th>Lỗi H.Thống</th>
            <th>Tỷ lệ (%)</th>
            <th>Tổng</th>
            <th>Thành công</th>
            <th>Sai C.Pháp</th>
            <th>Vượt MO/Ngày</th>
            <th title="Dự đoán khi thời gian dự đoán đã hết">Hết hạn</th>
            <th>Lỗi H.Thống</th>
            <th title="Trứ tiền không thành công, Chưa DK đã dữ đoán, Lỗi khác">Lỗi khác</th>
            <th>Tỷ lệ (%)</th>
        </tr>
        {0}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><img src="{1}" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
