<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th rowspan="2">Ngày</th>
            <th colspan="4">Gia hạn</th>
            <th colspan="3">Doanh thu</th>
        </tr>
        <tr>
            <th>Tổng</th>
            <th>Thành Công</th>
            <th>Thất bại</th>
            <th>Tỷ lệ (%)</th>
            <th>Đăng ký</th>
            <th>Gia hạn</th>
            <th>Tổng</th>
        </tr>
        {0}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><img src="{1}" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
