<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr class="Table_Header">
            <th rowspan="2">Ngày</th>
            <th colspan="8">Đăng ký</th>
            <th colspan="7">Hủy</th>
            <th colspan="4">Gia hạn</th>
            <th colspan="3">Doanh thu</th>
        </tr>
        <tr class="Table_Header">
            <th>Từng ĐK</th>
            <th>Kích hoạt</th>
            <th>Mới</th>
            <th>SMS</th>
            <th>WAP</th>
            <th>Kênh khác</th>
            <th>Thất bại</th>
            <th title="Tỷ lệ DK thành công/tổng DK">Tỷ lệ (%)</th>
            <th>Tổng</th>
            <th>Mới</th>
            <th>Tự hủy</th>
            <th>MaxRetry</th>
            <th>Kênh khác</th>
            <th>Thất bại</th>
            <th title="Tỷ lệ HUY thành công/tổng HUY">Tỷ lệ (%)</th>
            <th>Tổng</th>
            <th>Thành Công</th>
            <th>Thất bại</th>
            <th title="Tỷ lệ Gia hạn thành công/tổng Gia hạn">Tỷ lệ (%)</th>
            <th>Đăng ký</th>
            <th>Gia hạn</th>
            <th>Tổng</th>
        </tr>
        {0}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><img src="{1}" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
