<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th rowspan="2">Tuần/Năm</th>
            <th colspan="5">Đăng ký</th>
            <th colspan="5">Hủy</th>
        </tr>
        <tr>
            <th>Mới</th>
            <th>SMS</th>
            <th>WAP</th>
            <th>Other</th>
            <th>Thất bại</th>
            <th>Mới</th>
            <th>Tự hủy</th>
            <th>MaxRetry</th>
            <th>Other</th>
            <th>Thất bại</th>
        </tr>
        {0}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><img src="{1}" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
