<tr style="" align="center">
    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">{0}</td>
    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">{1}</td>
    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">{2}</td>
    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">{3}</td>
    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">{4}</td>
    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">{5}</td>
    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">{6}%</td>
    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">{7}</td>
</tr>
