<table cellpadding="4" cellspacing="0" style="border-style: solid none none solid; border-width: 1px; border-color: #000000;">
    <tbody>
        <tr style="background-color: #FFFF00;">
            <td colspan="8" align="center" style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">THỐNG KÊ DỊCH VỤ TRIỆU PHÚ THỂ THAO NGÀY {0}</td>
        </tr>
        <tr style="background-color: #DAEEF3;" align="center">
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Ngày </td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tổng thuê bao </td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Đăng ký trong ngày </td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Hủy trong ngày </td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tổng Hủy </td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Gia hạn thành công</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tỷ lệ Gia hạn</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Doanh thu</td>
        </tr>
        {1}
        <tr>
            <td colspan="7" align="center" style="border-style: none solid solid none; border-width: 1px; border-color: #000000; color: Red;">TỔNG DOANH THU </td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000; color: Red;">{2} </td>
        </tr>
    </tbody>
</table>
