<table cellpadding="4" cellspacing="0" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); border-style: solid none none solid; border-width: 1px; border-color: rgb(0, 0, 0);">
    <tr style="background-color: rgb(255, 255, 0);">
        <td align="center" colspan="8" style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">HỐNG KÊ DỊCH VỤ TRIỆU PHÚ THỂ THAO NGÀY 25-09-2013 LÚC 9:52</td>
    </tr>
    <tr align="center" style="background-color: rgb(218, 238, 243);">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">Ngày</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">Tổng thuê bao</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">Đăng ký trong ngày</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">Hủy trong ngày</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">Tổng Hủy</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">Gia hạn thành công</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">Tỷ lệ</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">Doanh thu</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">25-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">24-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">113</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">265</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">12,458</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">58,206,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">23-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">221</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">321</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">13,647</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">63,917,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">22-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">236</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">367</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">14,090</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">65,780,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">21-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">223</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">432</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">14,645</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">68,645,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">20-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">229</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">372</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">15,197</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">71,679,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">19-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">207</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">463</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">15,606</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">73,928,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">18-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">263</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">439</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">16,054</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">75,860,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">17-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">265</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">571</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">16,866</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">79,910,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">16-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">250</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">647</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">17,939</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">85,295,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">15-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">314</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">770</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">19,165</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">91,727,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">14-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">346</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">854</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">19,621</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">93,489,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">13-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">390</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">897</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">18,371</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">86,643,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">12-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">483</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">922</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">17,509</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">81,621,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">11-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">422</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">837</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">18,121</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">84,875,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">10-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">203</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">653</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">18,167</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">84,935,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">09-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">329</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1,283</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">18,885</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">88,107,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">08-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">621</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1,604</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">20,542</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">95,136,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">07-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1,100</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">2,752</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">22,937</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">105,869,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">06-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">20,923</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">9,824</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">15,103</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">69,501,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">05-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">23,772</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">278</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">2,741</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">12,669,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">04-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">157</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">220</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">3,014</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">13,960,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">03-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">131</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">243</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">3,497</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">16,215,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">02-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">187</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">5,030</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">4,101</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">19,023,000</td>
    </tr>
    <tr align="center">
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">01-09-2013</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">249</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1,971</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">1</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">4,781</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">0</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0);">22,471,000</td>
    </tr>
    <tr>
        <td align="center" colspan="7" style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0); color: red;">TỔNG DOANH THU</td>
        <td style="font-family: arial, sans-serif; margin: 0px; border-style: none solid solid none; border-width: 1px; border-color: rgb(0, 0, 0); color: red;">1,609,461,000</td>
    </tr>
</table>
