<div class="content guide">
    <center>
        <h2>
            MÃ DỰ THƯỞNG CỦA THUÊ BAO {0}</h2>
    </center>
    <center>
        <table style="text-align: center;">
            <tbody>
                <tr>
                    <th>
                        Ngày
                    </th>
                    <th>
                        Mã dự thưởng
                    </th>
                </tr>
                {1}
            </tbody>
        </table>
    </center>
    <center>
        {2}
    </center>
</div>
