<!--main-->
<div id="header">
    <div class="banner">
        <div class="logo">
            <a href="http://vinaphone.com.vn">
                <img src="{DNS}/images/logo.png" alt="Vinaphone" title="" /></a>
        </div>
        <div class="top_bar">
            <ul style="margin-left: 8px;">
                <li><a href="http://chonso.vinaphone.com.vn" target="_blank">Chọn số</a></li>
                <li>|</li>
                <li><a href="http://3g.vinaphone.com.vn/" target="_blank">Vinaphone 3G</a></li>
                <li>|</li>
                <li><a href="http://vinaphone.com.vn/services/mnews" target="_blank">Mnews</a></li>
                <li>|</li>
                <li><a href="http://vinaphone.com.vn/services/livescreen" target="_blank">Vlive</a></li>
                <li>|</li>
                <li><a href="http://iphone.vinaphone.com.vn/" target="_blank">Iphone</a></li>
                <li>|</li>
                <li><a href="http://vinaphone.com.vn/personal/register.do" ><span style="color: #676869">Đăng ký</span></a></li>
                <li>|</li>
                <li><a href="https://vinaphone.com.vn/auth/login?service=http%3A%2F%2Fvinaphone.com.vn%3A80%2Flogin.jsp%3Flang%3Dvi" ><span style="color: #676869">Đăng nhập</span></a></li>
            </ul>
        </div>
        <div class="logo_traffic">
            <a href="{DNS}">
                <img src="{DNS}/images/logo_traffic.jpg" alt="" title="" /></a>
        </div>
    </div>
    <div class="clear">
    </div>
    <div class="h_nav">
        <ul>
            <li><a href="{DNS}/Home/Home.html">TRANG CHỦ</a></li>
            <li><a href="{DNS}/Service/Service.html">GÓI DỊCH VỤ</a></li>
            <li><a href="{DNS}/News/Promotion.html">THÔNG TIN KHUYẾN MẠI</a></li>
            <li><a href="{DNS}/Home/Contact.html">LIÊN HỆ - HỎI ĐÁP</a></li>
        </ul>
    </div>
    <div id="slider">
        <a href="javascript:void(0);" >
            <img src="{DNS}/images/frame_1sua.gif" alt="" title="" width="980" height="296" /></a> <a href="javascript:void(0);" >
                <img src="{DNS}/images/banner.jpg" alt="" title="" width="980" height="296" /></a> <a href="javascript:void(0);" >
                    <img src="{DNS}/images/banner_hcm.jpg" alt="" title="" width="980" height="296" /></a>
    </div>
</div>
<div class="clear">
</div>
