<div class="content_top">
    <div class="service">
        <div class="title_service">
            <h1>
                <img src="{DNS}/images/icon_title.png" alt="" title="" />Liên hệ hỏi đáp</h1>
        </div>
        <div class="box_lienhe">
            <div class="address">
                <div class="diachi_cty">
                    <li>Liên hệ: Hỗ trợ 9191</li>
                    <li>Hộp thư thoại: 84-435381029</li>
                </div>
                <div class="maps_online">
                    <img src="{DNS}/images/support.png" alt="" title="" />
                </div>
            </div>
            <div class="contact">
                <div class="chuthich">
                    <li>Vui lòng nhập thông tin cần hỗ trợ, chúng tôi sẽ trả lời Quý khách trong thời gian sớm nhất.</li>
                </div>
                <div class="contact_in">
                    <div class="name">
                        <div class="hoten">
                            <li>Họ và tên <span style="color: #ff0000">*</span> :</li>
                        </div>
                        <div class="table">
                            <input name="name" type="text" class="textfield" />
                        </div>
                    </div>
                    <div class="name">
                        <div class="hoten">
                            <li>Địa chỉ <span style="color: #ff0000">*</span> :</li>
                        </div>
                        <div class="table">
                            <input name="address" type="text" class="textfield" />
                        </div>
                    </div>
                    <div class="name">
                        <div class="hoten">
                            <li>Điện thoại <span style="color: #ff0000">*</span> :</li>
                        </div>
                        <div class="table">
                            <input name="phone" type="text" class="textfield" />
                        </div>
                    </div>
                    <div class="name">
                        <div class="hoten">
                            <li>Email <span style="color: #ff0000">*</span> :</li>
                        </div>
                        <div class="table">
                            <input name="email" type="text" class="textfield" />
                        </div>
                    </div>
                    <div class="comment">
                        <div class="hoten">
                            <li>Nội dung <span style="color: #ff0000">*</span> :</li>
                        </div>
                        <div class="textarea_comment">
                            <textarea name="noidung" cols="" rows="" class="textarea"></textarea>
                        </div>
                    </div>
                    <div class="note">
                        <li>Các trường có dấu <span style="color: #ff0000">(*)</span> là bắt buộc</li>
                    </div>
                    <div class="send">
                        <input id="gone" type="submit" style="float: left; margin-right: 3px;" name="gone" value="Gửi email">
                        <input type="reset" style="float: left;" name="Submit2" value="Nhập lại">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
