                <!--footer-->
            	<div id="footer">
                	<div class="logo_footer">
                        	<a href="http://vinaphone.com.vn/"><img src="{DNS}/images/logo.png" alt="Vinaphone" title="" /></a>
                        </div>
                    <div class="add_footer">
                    	<ul>
                        	<li>Phát triển bởi VinaPhone 2005-2011. Bản quyền đã đăng ký.<br/>
Giấy phép số: 337/GP-BC do Bộ Thông tin - Truyền thông cấp ngày 10/11/2006.</li>
                        </ul>
                    </div>
                    <div class="logo_vov">
                    	<a href="http://vovgiaothong.vn/"><img src="{DNS}/images/logo_vov.png" alt="VOV" title="" /></a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
<!--end main-->    
</body>
</html>