<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EmailReport_EmailAccount" value="reports@hbcom.vn"/>
    <add key="EmailReport_Password" value="dasdasd35435342sedsswa"/>
    <add key="EmailReport_EmailReceiveList" value="linhnc@hbcom.vn" />
    <add key="EmailReport_Subject" value="THỐNG KÊ DỊCH VỤ TRIỆU PHÚ THỂ THAO NGÀY " />
    
    <!--Ngày cần lấy report (định dạng: dd-MM-yyy). Nếu muốn lấy ngày hiện tại thì để giá trị là:""-->
    <add key="ReportDate" value=""/>
  </appSettings>
  <connectionStrings>
    <!--Host-->
    <add name="SQLConnecton_SportMillion" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueZQjZnpQ9yUpKw9EhJARLtJ1zYHwto9s5Ptmtn9zAXaSo2tbj0ssPfF4M6V4uKOXLF8dKGHcOrWRYVQu4KXNl0SA+ovWdMAWHCWEn0wcZaj6KPhOXSQASyyw1Hsq/flRvNHa5zunYDK00shueoBwfVTGOOfPpaz+ly2KRwKC+eqqa8S04s9PHggQKWi3Rcthxw=" />
  </connectionStrings>
</configuration>