<div class="dichvu">
    <div class="img_dichvu">
        <a href="{DNS}/ServiceDetail/{0}/{1}.html">
            <img src="{2}" alt="" title="{3}" /></a>
    </div>
    <div class="info_dichvu">
        <h2>
            <a href="{DNS}/ServiceDetail/{0}/{1}.html" class="name_dichvu">{3}</a></h2>
        <p class="sms">
            Soạn: <strong class="red">{4}</strong> gửi <strong class="red">1546</strong></p>
        <p class="alignl">
            <a href="{DNS}/ServiceDetail/{0}/{1}.html" class="link_detail" rel="nofollow">Chi tiết</a></p>
    </div>
</div>
