<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GUI - Tra cứu sử dụng dịch vụ</title>
<link media="screen" rel="stylesheet" href="../css/reset.css" />
<link media="screen" rel="stylesheet" href="../css/style.css" />
<script language='javascript' src='../js/jquery-1.7.1.min.js'></script>
<script type="text/javascript" src="../js/jtabber.js"></script>
</head>
<body onload="mymenupopup()">
<div class='contain_popup'>
	<div class='p8'>
		<div class='title_containpopup'>
			<h1>GUI - Kienthucviet</h1>
		</div>
		<div class='containdatapopup'>
			<div class='supportarea'>
				<li class='labelsp'>Đầu mối giải quyết khiếu nại dịch vụ: </li>
				<li class='username'>Lê Anh Dũng</li>
				<li class='email'>dungla@aivietnam.net</li>
				<li class='mobile'>0912131415</li>
			</div>
			<div id="menutabs1" class='mt10'> 
					  <a class="" href="GUI - Tra cứu thuê bao.html"><img class='icon1' src='../images/icon1.png'><span>Tra cứu thuê bao</span></a> 
					  <a class="selected" href="GUI - Tra cứu sử dụng dịch vụ - Lịch sử đăng ký hủy.html"><img class='icon2' src='../images/icon2.png'><span>Tra cứu sử dụng dịch vụ</span></a>
					  <a class="" href="GUI - Cài đặt dịch vụ.html"><img class='icon3' src='../images/icon3.png'><span>Cài đặt dịch vụ</span></a>
					  <a class="" href="GUI - Thông tin dịch vụ.html"><img class='icon4' src='../images/icon4.png'><span>Thông tin dịch vụ</span></a>
			</div>
			<div class='tabtracuusddv'>
				<li><a href='GUI - Tra cứu sử dụng dịch vụ - Lịch sử đăng ký hủy.html'>Lịch sử Đăng ký / Hủy</a></li>
				<li><a href='GUI - Tra cứu sử dụng dịch vụ - Lịch sử trừ cước.html'>Lịch sử trừ cước</a></li>
				<li><a href='GUI - Tra cứu sử dụng dịch vụ - Lịch sử sử dụng.html'>Lịch sử sử dụng</a></li>
				<li><a href='GUI - Tra cứu sử dụng dịch vụ - Lịch sử MO MT.html'>Lịch sử MO /MT</a></li>
				<li><a href='GUI - Tra cứu sử dụng dịch vụ - Tra cứu mã dự thưởng.html' class='select'>Tra cứu mã dự thưởng</a></li>
			</div>
			<div class='fillterarea'>
				<table><tr>
					<td width='100'>Số thuê bao:</td>
					<td><input style='width:147px' type='text' class='textbox'></td>
					<td align='right' width='200'><input type="button" value="Tra cứu" class="btn_search"></td>
				</tr>
				</table>	
			</div>
			<table class="tbl_style">
				<tbody>
				<tr>
					<td width='20%' valign='top'>
						<div class='menuleftmdt'>
							<ul>
								<li><a href='#1'>Mã dự thưởng chung cuộc</a></li>
								<li><a href='GUI - Tra cứu sử dụng dịch vụ - Tra cứu mã dự thưởng.html'>Mã dự thưởng tháng</a></li>
								<li><a href='GUI - Tra cứu sử dụng dịch vụ - Tra cứu mã dự thưởng - Tuan.html' class='active'>Mã dự thưởng tuần</a></li>
								<li><a href='GUI - Tra cứu sử dụng dịch vụ - Tra cứu mã dự thưởng - Ngay.html'>Mã dự thưởng ngày</a></li>
								<li><a href='GUI - Tra cứu sử dụng dịch vụ - Tra cứu mã dự thưởng - Lspsmdt.html'>Lịch sử phát sinh mã dự thưởng</a></li>
							</ul>
						</div>
					</td>
					<td>
						<div class='p8'>
							<h4 class='mb10'>Tổng mã dự thưởng tuần:</h4>
							<table class='tbl_style center'>
								<tr>
									<th>Tuần</th>
									<th>Số mã dự thưởng</th>
								</tr>
								<tr>
									<td>Tuần 1</td>
									<td>XXXXXXX</td>
								</tr>
								<tr>
									<td>Tuần 2</td>
									<td></td>
								</tr>
								<tr>
									<td>Tuần 3</td>
									<td></td>
								</tr>
								<tr>
									<td>Tuần 4</td>
									<td></td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
				</tbody></table>			
		</div>
	</div>
</div>
</body>
</html>
