<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GUI - Thông tin dịch vụ</title>
<link media="screen" rel="stylesheet" href="../css/reset.css" />
<link media="screen" rel="stylesheet" href="../css/style.css" />
<script language='javascript' src='../js/jquery-1.7.1.min.js'></script>
<script type="text/javascript" src="../js/jtabber.js"></script>
</head>
<body onload="mymenupopup()">
<div class='contain_popup'>
	<div class='p8'>
		<div class='title_containpopup'>
			<h1>GUI - Kienthucviet</h1>
		</div>
		<div class='containdatapopup'>
			<div class='supportarea'>
				<li class='labelsp'>Đầu mối giải quyết khiếu nại dịch vụ: </li>
				<li class='username'>Lê Anh Dũng</li>
				<li class='email'>dungla@aivietnam.net</li>
				<li class='mobile'>0912131415</li>
			</div>
			<div id="menutabs1" class='mt10'> 
					  <a class="" href="GUI - Tra cứu thuê bao.html"><img class='icon1' src='../images/icon1.png'><span>Tra cứu thuê bao</span></a> 
					  <a class="" href="GUI - Tra cứu sử dụng dịch vụ - Lịch sử đăng ký hủy.html"><img class='icon2' src='../images/icon2.png'><span>Tra cứu sử dụng dịch vụ</span></a>
					  <a class="" href="GUI - Cài đặt dịch vụ.html"><img class='icon3' src='../images/icon3.png'><span>Cài đặt dịch vụ</span></a>
					  <a class="selected" href="GUI - Thông tin dịch vụ.html"><img class='icon4' src='../images/icon4.png'><span>Thông tin dịch vụ</span></a>
			</div>
			<div class='p10 bor'>
				<h4 class='titlecheck'>Mô tả dịch vụ:</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>	
				<br/>
				<h4 class='titlecheck'>Cách sử dụng dịch vụ:</h4>
				<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
				<br/>
				<h4 class='titlecheck'>Giá cước:</h4>
				<p>Tất cả các loại cước khi sử dụng dịch vụ: cước thuê bao, cước nội dung (bao gồm cả thời hạn sử dụng của nội dung), cước SMS, Data ...</p>
				<br/>
				<h4 class='titlecheck'>Đăng ký/Hủy:</h4>
				<p>Qua SMS: cú pháp đăng ký/hủy</p>
				<p>Kênh khác nếu có</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>
