<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GUI - Cài đặt dịch vụ</title>
<link media="screen" rel="stylesheet" href="../css/reset.css" />
<link media="screen" rel="stylesheet" href="../css/style.css" />
<script language='javascript' src='../js/jquery-1.7.1.min.js'></script>
<script type="text/javascript" src="../js/jtabber.js"></script>
</head>
<body onload="mymenupopup()">
<div class='contain_popup'>
	<div class='p8'>
		<div class='title_containpopup'>
			<h1>GUI - Kienthucviet</h1>
		</div>
		<div class='containdatapopup'>
			<div class='supportarea'>
				<li class='labelsp'>Đầu mối giải quyết khiếu nại dịch vụ: </li>
				<li class='username'>Lê Anh Dũng</li>
				<li class='email'>dungla@aivietnam.net</li>
				<li class='mobile'>0912131415</li>
			</div>
			<div id="menutabs1" class='mt10'> 
					  <a class="" href="GUI - Tra cứu thuê bao.html"><img class='icon1' src='../images/icon1.png'><span>Tra cứu thuê bao</span></a> 
					  <a class="" href="GUI - Tra cứu sử dụng dịch vụ - Lịch sử đăng ký hủy.html"><img class='icon2' src='../images/icon2.png'><span>Tra cứu sử dụng dịch vụ</span></a>
					  <a class="selected" href="GUI - Cài đặt dịch vụ.html"><img class='icon3' src='../images/icon3.png'><span>Cài đặt dịch vụ</span></a>
					  <a class="" href="GUI - Thông tin dịch vụ.html"><img class='icon4' src='../images/icon4.png'><span>Thông tin dịch vụ</span></a>
			</div>
			<div class='tabtracuusddv'>
				<li><a href='GUI - Cài đặt dịch vụ.html'>Đăng ký / Hủy / Reset</a></li>
				<li><a href='GUI - Cài đặt dịch vụ - Bù nội dung.html'>Bù nội dung</a></li>
				<li><a href='GUI - Cài đặt dịch vụ - Bù mã dự thưởng.html'>Bù mã dự thưởng</a></li>
				<li><a href='GUI - Cài đặt dịch vụ - Cài đặt dịch vụ.html'  class='select'>Cài đặt dịch vụ</a></li>
				<li><a href='GUI - Cài đặt dịch vụ - Cài đặt tin quảng cáo.html'>Cài đặt tin quảng cáo</a></li>
			</div>
			<div class="fillterarea">
				<table cellspacing="5" cellpadding="5"><tbody><tr>
					<td width="80">Số thuê bao:</td>
					<td colspan="5"><input type="text" class="textbox" style="width:147px"></td>
					<td width="200" align="right" rowspan="2"><input type="button" class="btn_search" value="Tra cứu"></td>
				</tr>
				</tbody></table>	
			</div>
			<div class='p10 bor'>(Form cài đặt customized theo dịch vụ cụ thể)</div>
		</div>
	</div>
</div>
</body>
</html>
