<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DateFormat_InsertToDB" value="yyyy-MM-dd HH:mm:ss.fff"/>
    <add key="SleepMinute_DataSync" value="3"/>
    
    <!--Khoảng thời gian cho mỗi lần lấy dữ liệu-->
    <add key="IntervalTime" value="480"/>
    
    <!--chỉ lấy đến thời gian trước thời gian hiện tại là: 15 minute-->
    <add key="BeforeCurrentTime" value="5"/>

    <add key="EmailReport_EmailAccount" value="CuoiSacSua@gmail.com"/>
    <add key="EmailReport_Password" value="12ThangDien"/>
    <add key="EmailReport_EmailReceiveList" value="chilinh12003@gmail.com;linhnc@hbcom.vn"/>
    <add key="EmailReport_Subject" value="THỐNG KÊ DỊCH VỤ TRIỆU PHÚ THỂ THAO NGÀY"/>
    <add key="EmailReport_BeginDay" value=""/>

    <add key="DoubleFormat" value="N"/>
  </appSettings>
  <connectionStrings>
    <!--Test on server-->
    <!--<add name="SQLConnecton_MTraffic" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzoIVkOBaiUYgmVXxcD23Llwaq4uqzO38ivUSm5ICtHZggc9w9kjzSrB1VABKmNMFvwlwO4wTm56AQ/Fg2etbdICp2bS+oOT0C1RkbAu26J2AnSyUTmGVCQA7JjJU0maCrKKZ3OAkYoh28CAem4XkoROSYPCpB7rMoEx4z5xyqKR2DElGD2mGg3Bzd/eAhOvw0R9ywqox0FhgUrJcd+WMdNL/W+f14ILG4qHVi7qaR82r"/>-->
    <!--Real On server-->
    <!--<add name="SQLConnecton_SportMillion" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZhsb1vyow/ERqCSJPVSdFTZQiHdi0u4sJAbNL2sB0rbQRyARH4CjXjFgSvI93CFwH/WRheQ3YUiFMM+RD913CUoeE9egsgM0Glbp7qFqgTRSu2erpeFJCT4fnY6in8URhBInfdekh5VdX9qwJRaVOdIehNp0CtzP44oPKAKXquv7c="/>-->

    <add name="SQLConnecton_SportMillion" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueZQjZnpQ9yUpKw9EhJARLtJ1zYHwto9s5Ptmtn9zAXaSo2tbj0ssPfF4M6V4uKOXLF8dKGHcOrWRYVQu4KXNl0SA+ovWdMAWHCWEn0wcZaj6KPhOXSQASyyw1Hsq/flRvNHa5zunYDK00shueoBwfVTGOOfPpaz+ly2KRwKC+eqqa8S04s9PHggQKWi3Rcthxw="/>
    
  </connectionStrings>
</configuration>