<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SleepSecond" value="1800"/>
    <!--Chay report tu ngay nay theo dinh dang dd-MM-yyyy-->
    <add key="StartDate" value=""/>
  </appSettings>
  <connectionStrings>
    <!--Host-->
    <add name="ConnectionKey_Source" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueZQjZnpQ9yUpKw9EhJARLtJ1zYHwto9s5Ptmtn9zAXaSo2tbj0ssPfF4M6V4uKOXLF8dKGHcOrWRYVQu4KXNl0SA+ovWdMAWHCWEn0wcZaj6KPhOXSQASyyw1Hsq/flRvNHa5zunYDK00shueoBwfVTGOOfPpaz+ly2KRwKC+eqqa8S04s9PHggQKWi3Rcthxw="/>
    <add name="ConnectionKey_Des" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueZQjZnpQ9yUpKw9EhJARLtJ1zYHwto9s5Ptmtn9zAXaSo2tbj0ssPfF4M6V4uKOXLF8dKGHcOrWRYVQu4KXNl0SA+ovWdMAWHCWEn0wcZaj6KPhOXSQASyyw1Hsq/flRvNHa5zunYDK00shueoBwfVTGOOfPpaz+ly2KRwKC+eqqa8S04s9PHggQKWi3Rcthxw="/>
    
    <!--Local-->
    <!--<add name="ConnectionKey_Des" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZhsb1vyow/ERqCSJPVSdFTZQiHdi0u4sJAbNL2sB0rbQRyARH4CjXjFgSvI93CFwH/WRheQ3YUiFMM+RD913CUoeE9egsgM0Glbp7qFqgTRSu2erpeFJCT4fnY6in8URhBInfdekh5VdX9qwJRaVOdIehNp0CtzP44oPKAKXquv7c="/>-->

  </connectionStrings>
</configuration>