<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SleepSecond" value="1800"/>
    <!--Chay report tu ngay nay theo dinh dang dd-MM-yyyy-->
    <add key="StartDate" value="01-09-2014"/>
  </appSettings>
  <connectionStrings>
    <!--Host-->
    <add name="ConnectionKey_Source" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueZQjZnpQ9yUpKw9EhJARLtJ1zYHwto9s5Ptmtn9zAXaSo2tbj0ssPfF4M6V4uKOXLF8dKGHcOrWRYVQu4KXNl0SA+ovWdMAWHCWEn0wcZaj6KPhOXSQASyyw1Hsq/flRvNHa5zunYDK00shueoBwfVTGOOfPpaz+ly2KRwKC+eqqa8S04s9PHggQKWi3Rcthxw="/>
    <add name="ConnectionKey_Des" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueZQjZnpQ9yUpKw9EhJARLtJ1zYHwto9s5Ptmtn9zAXaSo2tbj0ssPfF4M6V4uKOXLF8dKGHcOrWRYVQu4KXNl0SA+ovWdMAWHCWEn0wcZaj6KPhOXSQASyyw1Hsq/flRvNHa5zunYDK00shueoBwfVTGOOfPpaz+ly2KRwKC+eqqa8S04s9PHggQKWi3Rcthxw="/>

  </connectionStrings>
</configuration>