<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;deleteAfterServicing=false;privateImages=false" />
    <add key="Domain" value="http://localhost:8082/SportMillionCMS"/>

    <add key="DisableCheckIP" value="false"/>
    <add key="MemberGroupID_Admin" value="1"/>
    <add key="URLNotLoginFail" value="../Admin/Ad_Login.aspx"/>
    <add key="URLLogin" value="../Admin/Ad_Login.aspx"/>
    <add key="URLLoginSuccess" value="../Admin/Ad_Default.aspx"/>
    <add key="URLNotice" value="../Admin/Ad_Alert.aspx"/>
    <add key="LongDateFormat" value="dd/MM/yyyy - HH:mm:ss"/>
    <add key="LongDateFormatBR" value="dd/MM/yyyy &lt;br/&gt; HH:mm:ss"/>
    <add key="ShortDateFormat" value="dd/MM/yyyy"/>
    <add key="cuteEditor_UploadNews" value="/u/news"/>
    <add key="DoubleFormat" value="N"/>
    <add key="LicenseKey" value="oS/OuBhRatlgQFIjps25BxMp0AI0K8HNIksCXhqoAsKOpb+6I1dPqRamyg/MfbkJ3zCHGNqiHSGbaKvhF/e7Vw=="/>
    <!-- Upload Image config default !-->
    <add key="UI_Thumb" value="false"/>
    <add key="UI_GeneralFN" value="false"/>
    <add key="UI_Path" value="~/u/img"/>
    <add key="UI_Extension" value=".png|.gif|.jpg|.jpeg"/>
    <add key="UI_MaxSize" value="10240"/>
    <add key="UI_WH_Thumb" value="90x60"/>
    <!-- Cấu hình upload Image cho member !-->
    <add key="Member_UI_Path" value="~/u/mi/"/>
    <add key="Member_UI_MaxSize" value="100"/>
    <!-- Cấu hình upload Image cho Menu !-->
    <add key="Menu_UI_Path" value="~/u/menui/"/>
    <add key="Menu_UI_MaxSize" value="100"/>
    <!-- Cấu hình mặc định cho upload file (UF) !-->
    <add key="UF_MaxSize" value="10240"/>
    <add key="UF_Path" value="~/u/uf/"/>
    <add key="UF_Extension" value=""/>
    <!--Cho phép tạo file name không trùng lặp-->
    <add key="UF_GeneralFN" value="true"/>
  
  </appSettings>
  <connectionStrings>
    <remove name="strConnection"/>
    <!--<add name="strConnection" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZhsb1vyow/ERqCSJPVSdFTZQiHdi0u4sJAbNL2sB0rbQRyARH4CjXjFgSvI93CFwH/WRheQ3YUiFMM+RD913CUoeE9egsgM0Glbp7qFqgTRSu2erpeFJCT4fnY6in8URhBInfdekh5VdX9qwJRaVOdIehNp0CtzP44oPKAKXquv7c="/>-->
    <add name="MySQLConnection_Gateway" providerName="MySql.Data.MySqlClient" connectionString="ZSAZhMA6Ng1D9KgZ3l7HIFnfdOttcjLscy1XE/zRSCfBVui2aeaDbg+oXela3iFAtQm1OyjljpCrbT9d74utfg=="/>
    <!--Host-->
    <!--<add name="MySQLConnection_Gateway" providerName="MySql.Data.MySqlClient" connectionString="991ITO2iw3yEZFFvoa3BaZ2j1JckpvszDrDOgF2jl3vgKn/91IyiEHBB11ScOGEJldPtMPnDuALDNGWTlljPww=="/>-->
    <!--Host-->
    <add name="strConnection" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueZQjZnpQ9yUpKw9EhJARLtJ1zYHwto9s5Ptmtn9zAXaSo2tbj0ssPfF4M6V4uKOXLF8dKGHcOrWRYVQu4KXNl0SA+ovWdMAWHCWEn0wcZaj6KPhOXSQASyyw1Hsq/flRvNHa5zunYDK00shueoBwfVTGOOfPpaz+ly2KRwKC+eqqa8S04s9PHggQKWi3Rcthxw="/>
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="AjaxHander" path="*.ajax" verb="GET,HEAD,POST,DEBUG" type="MyAjax.MyAjaxHander"/>
    
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
          path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600">
          <headerLimits>
            <add header="Content-type" sizeLimit="100"/>
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>

    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="false"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx"/>
    <httpRuntime maxRequestLength="100000"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <authentication mode="Windows"/>
    <pages buffer="true" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SportMillionSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/MyService_SportMillion/SportMillion.asmx" binding="basicHttpBinding" bindingConfiguration="SportMillionSoap" contract="WS_SportMillion.SportMillionSoap" name="SportMillionSoap"/>
    </client>
  </system.serviceModel>
</configuration>