<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Triệu phú thể thao</title>
    <link href="../Style/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="banner">
        <div class="center center-relative">
            <a class="logo" href="http://vinaphone.com.vn"></a>
            <div class="menu-sub">
                <div class="repeat">
                    <a class="item" href="http://vinaphone.com.vn/supports/dangkydichvu">Đăng ký DV</a><span class="item split">|</span> <a class="item" href="http://billing.vinaphone.com.vn/">Tra cước</a><span class="item split">|</span> <a class="item" href="http://chonso.vinaphone.com.vn/">Chọn số</a><span class="item split">|</span> <a class="item" href="http://cskh.vinaphone.com.vn/">CSKH</a><span class="item split">|</span> <a class="item" href="http://vinaphone.com.vn/personals/homepage">Trang cá nhân</a> <a class="item-login margin-left" href="http://vinaphone.com.vn/login.jsp?lang=vi">Đăng nhập</a><span class="item-login split">|</span> <a class="item-login" href="http://vinaphone.com.vn/personal/register.do">Đăng ký</a></div>
                <div class="left">
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="center">
            <a class="home" href="http://thethao.vinaphone.com.vn"></a><a class="item" href="#">Kiểm tra mã dữ thưởng</a> <a class="item active" href="http://thethao.vinaphone.com.vn/Page/Guide.htm">Hướng dẫn cách chơi</a> <a class="item" href="http://thethao.vinaphone.com.vn/Page/Result.htm">Khách hàng trúng thưởng</a> <a class="item" href="http://thethao.vinaphone.com.vn/Page/Rule.htm">Thể lệ giải thưởng</a> <a class="item" href="http://thethao.vinaphone.com.vn/Page/FAQ.htm">Hỏi đáp</a> <a class="item" href="#">Liên hệ</a>
        </div>
    </div>
    <div class="content content-none">
        <div class="center center-relative">
            <div class="transparent">
            </div>
            <div class="guide">
                <center>
                    <h2>
                        HỎI - ĐÁP</h2>
                </center>
                <ul class="first" style="list-style: none;">
                    <li><span style="font-size: 12px; font-weight: bold;">1. Dịch vụ "Triệu phú Thể thao" là gì ?</span>
                        <ul style="list-style: none; padding-left: 20px;">
                            <li>Dịch vụ Triệu phú Thể thao là dịch vụ cung cấp các thông tin tổng hợp (cập nhật kết quả trận đấu, sự kiện, bình luận, các thông tin bên lề.v.v) về các giải bóng đá trong nước và quốc tế đang diễn ra như Giải bóng đá Ngoại hạng Anh, Giải bóng đá Tây Ban Nha, Cúp C1 Châu Âu ... Dịch vụ triển khai từ ngày 25/08/2014 đến ngày 24/08/2014. Các khách hàng đăng ký dịch vụ hàng ngày sẽ nhận được bản tin tổng hợp về các giải đấu, trận đấu qua tin nhắn SMS và sẽ được tham gia MIẾN PHÍ chương trình khuyến mại đặc biệt “Sôi động cùng Triệu phú thể thao, cơ hội trúng thưởng 10 triệu mỗi ngày”: tham gia dự đoán về các trận đấu và quay số may mắn để có cơ hội nhận các giải thưởng hấp dẫn từ chương trình (giải ngày mỗi giải trị giá 10 triệu đồng). </li>
                        </ul>
                    </li>
                    <li><span style="font-size: 12px; font-weight: bold;">2. Dịch vụ "Triệu phú Thể thao" triển khai chương trình khuyến mại nào ?</span>
                        <ul style="list-style: none; padding-left: 20px;">
                            Dịch vụ Triệu phú Thể thao triển khai chương trình khuyến mại đặc biệt “Sôi động cùng Triệu phú thể thao, cơ hội trúng thưởng 10 triệu mỗi ngày”: tham gia dự đoán về các trận đấu và quay số may mắn để có cơ hội nhận các giải thưởng hấp dẫn từ chương trình (giải ngày mỗi giải trị giá 10 triệu đồng).
                        </ul>
                    </li>
                    <li><span style="font-size: 12px; font-weight: bold;">3. Chương trình khuyến mại của dịch vụ kéo dài bao lâu?</span>
                        <ul style="list-style: none; padding-left: 20px;">
                            <li>Chương trình khuyến mại: “Sôi động cùng Triệu phú thể thao, cơ hội trúng thưởng 10 triệu mỗi ngày” được triển khai từ ngày 25/08/2013 đến ngày 24/08/2014 theo các đợt như sau:
                                <ul>
                                    <li>Đợt 1: Từ ngày 25/08/2013 đến ngày 17/11/2013;</li>
                                    <li>Đợt 2: Từ ngày 18/11/2013 đến ngày 09/02/2014;</li>
                                    <li>Đợt 3: Từ ngày 10/02/2014 đến ngày 04/05/2014; </li>
                                    <li>Đợt 4: Từ ngày 05/05/2014 đến ngày 27/07/2014;</li>
                                    <li>Đợt 5: Từ ngày 28/07/2014 đến ngày 24/08/2014.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><span style="font-size: 12px; font-weight: bold;">4. Ai có đủ điều kiện tham gia chương trình?</span>
                        <ul style="list-style: none; padding-left: 20px;">
                            <li>Khách hàng, là các thuê bao (trả trước và trả sau) đang hoạt động hai chiều trên mạng VinaPhone.</li>
                            <li>Cán bộ, công nhân viên của Trung tâm Phát triển dịch vụ – Công ty dịch vụ viễn thông, các công ty thực hiện in ấn, quảng cáo liên quan và thân nhân của các đối tượng này không được tham dự chương trình khuyến mại.</li>
                        </ul>
                    </li>
                    <li><span style="font-size: 12px; font-weight: bold;">5. Tôi có thể tham gia bằng cách nào?</span>
                        <ul style="list-style: none; padding-left: 20px;">
                            <li>Nhắn tin đăng ký tham gia chương trình sử dụng cú pháp: DK gửi 9696.<br />
                                Mỗi ngày, chương trình sẽ đưa ra 1 trận đấu thuộc 1 giải đấu trong nước hoặc quốc tế (Giải ngoại hạng Anh, giải bóng đá Tây Ban Nha, cúp C1) sẽ diễn ra trong ngày đó. Các khách hàng là thuê bao dịch vụ sẽ được mời tham gia dự đoán miễn phí về 5 nội dung khác nhau liên quan đến trận đấu bao gồm:
                                <ul>
                                    <li>Dự đoán kết quả trận đấu (thắng – hòa – thua):<br />
                                        Cú pháp dự đoán: KQ 1 hoặc KQ 2 hoặc KQ 3gửi 9696trong đó KQ 1 tương ứng với đội đứng trước thắng, KQ 2 tương ứng với kết quả Hòa, KQ 3 tương ứng với đội đứng sau thắng. </li>
                                    <li>Dự đoán tổng số bàn thắng của trận đấu:<br />
                                        Cú pháp dự đoán: BT X gửi 9696 trong đó X tương ứng với tổng số bàn thắng cả 2 đội ghi được trong thời gian thi đấu chính thức của trận đấu.</li>
                                    <li>Dự đoán tỉ số trong thời gian thi đấu chính thức của trận đấu:
                                        <br />
                                        Cú pháp dự đoán: TS X Y gửi 9696 trong đó X tương ứng với số bàn thắng đội đứng trước ghi được, Y tương ứng với số bàn thắng đội đứng sau ghi được trong thời gian thi đấu chính thức của trận đấu.</li>
                                    <li>Dự đoán đội giữ bóng nhiều hơn trong trận đấu:<br />
                                        Cú pháp dự đoán: GB 1 hoặc GB 2 hoặc GB 3 gửi 9696 trong đó GB 1 tương ứng với đội đứng trước giữ bóng nhiều hơn, GB 2 tương ứng với 2 đội có tỉ lệ giữ bóng như nhau, GB 3 tương ứng với đội đứng sau giữ bóng nhiều hơn. </li>
                                    <li>Dự đoán tổng số thẻ vàng của trong thời gian thi đấu chính thức của trận đấu:<br />
                                        Cú pháp dự đoán: TV Z gửi 9696 trong đó Z tương ứng với tổng số thẻ vàng trọng tài rút ra cho 2 đội trong thời gian thi đấu chính thức của trận đấu.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><span style="font-size: 12px; font-weight: bold;">6. Tôi có thể dự đoán bao nhiêu lần đối với mỗi trận đấu?</span>
                        <ul style="list-style: none; padding-left: 20px;">
                            <li>Đối với mỗi trận đấu mỗi ngày, khách hàng được quyền dự đoán tối đa 10 câu dự đoán miễn phí. </li>
                        </ul>
                    </li>
                    <li><span style="font-size: 12px; font-weight: bold;">7. Trong chương trình, điểm số có ý nghĩa như thế nào?</span>
                        <ul style="list-style: none; padding-left: 20px;">
                            <li>Với mỗi 50 điểm thưởng, khách hàng sẽ được quy đổi thành 01 mã dự thưởng. Hệ thống thực hiện quy đổi từ điểm thưởng sang mã dự thưởng ngay mỗi khi khách hàng tích lũy đủ 50 điểm.</li>
                        </ul>
                    </li>
                    <li><span style="font-size: 12px; font-weight: bold;">8. Điểm số trong chương trình được tính như thế nào? </span>
                        <ul style="list-style: none; padding-left: 20px;">
                            <li>Thuê bao được cộng các loại điểm như sau:
                                <ul>
                                    <li>Điểm khi đăng ký mới dịch vụ: Thuê bao đăng ký dịch vụ Triệu phú Thể thao thành công: 1.000 điểm/lần đăng ký. Áp dụng với các trường hợp: thuê bao đăng ký lần đầu được miễn cước, thuê bao đăng ký từ lần thứ hai và bị trừ cước, thuê bao đã hủy và đăng ký lại dịch vụ.</li>
                                    <li>Điểm gia hạn thành công: tùy từng mức cước ngày sẽ có mức điểm cộng tương ứng
                                        <center>
                                            <table style="width: 300px;">
                                                <tbody>
                                                    <tr>
                                                        <th>
                                                            STT
                                                        </th>
                                                        <th>
                                                            Mức trừ cước
                                                        </th>
                                                        <th>
                                                            Điểm tương ứng
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            5.000đ/ngà
                                                        </td>
                                                        <td>
                                                            1.000
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            2
                                                        </td>
                                                        <td>
                                                            3.000đ/ngày
                                                        </td>
                                                        <td>
                                                            600
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            3
                                                        </td>
                                                        <td>
                                                            1.000đ/ngày
                                                        </td>
                                                        <td>
                                                            200
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </center>
                                    </li>
                                    <li>Điểm trả lời câu hỏi của chương trình:
                                        <br />
                                        Dự đoán đúng: 500 điểm/lần dự đoán đúng (điểm sẽ được lũy tiến theo ngày = 500 + 50*(n-1). Trong đó n là ngày thứ n triển khai chương trình khuyến mại tính theo từng đợt. Đợt 1: Từ ngày 25/08/2013 đến ngày 17/11/2013; Đợt 2: Từ ngày 18/11/2013 đến ngày 09/02/2014; Đợt 3: Từ ngày 10/02/2014 đến ngày 04/05/2014; Đợt 4: Từ ngày 05/05/2014 đến ngày 27/07/2014; Đợt 5: Từ ngày 28/07/2014 đến ngày 24/08/2014, dự đoán sai: 0 điểm/lần dự đoán sai. </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><span style="font-size: 12px; font-weight: bold;">9. Tôi có thể tra cứu mã dự thưởng ở đâu?</span>
                        <ul style="list-style: none; padding-left: 20px;">
                            <li>Khách hàng có thể tra cứu điểm số và mã dự thưởng trên website của chương trình tại địa chỉ http://thethao.vinaphone.com.vn/ </li>
                        </ul>
                    </li>
                    <li><span style="font-size: 12px; font-weight: bold;">10. Việc quay số trúng thưởng được diễn ra như thế nào?</span>
                        <ul style="list-style: none; padding-left: 20px;">
                            <li>Việc quay số trúng thưởng sẽ được thực hiện hàng tuần bằng phần mềm điện tử chuyên dụng, dưới sự chứng kiến của đại diện Cục Xúc tiến Thương mại, đại diện các cơ quan báo chí và đại diện khách hàng của VinaPhone. </li>
                        </ul>
                    </li>
                    <li><span style="font-size: 12px; font-weight: bold;">11. Tôi có thể tìm thấy danh sách khách hàng trúng thưởng ở đâu?</span>
                        <ul style="list-style: none; padding-left: 20px;">
                            <li>Danh sách khách hàng trúng thưởng sẽ được đăng tải trên website của chương trình: http://thethao.vinaphone.com.vn/<br />
                                Trong vòng 5 ngày làm việc sau khi quay thưởng, VinaPhone sẽ tiến hành gọi điện trực tiếp để xác minh thuê bao trúng thưởng. VinaPhone sẽ tiến hành liên hệ khách hàng trong 3 ngày làm việc liên tục trong khoảng thời gian từ 8h00 đến 17h00 hàng ngày, mỗi ngày tối đa 5 cuộc gọi. </li>
                        </ul>
                    </li>
                    <li><span style="font-size: 12px; font-weight: bold;">12. Nếu trúng thưởng, tôi sẽ được nhận thưởng như thế nào?</span>
                        <ul style="list-style: none; padding-left: 20px;">
                            <li>VinaPhone sẽ trao thưởng cho khách hàng theo dạng chuyển tiền qua tài khoản. </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="center center-relative">
            <a class="logo" href="http://vinaphone.com.vn"></a>
            <div class="footer-menu">
                <a class="item" href="http://www.vinaphone.com.vn/">Trang chủ</a><span class="item split">|</span> <a class="item" href="http://www.vinaphone.com.vn/aboutus/gioithieu">Giới thiệu</a><span class="item split">|</span> <a class="item" href="http://www.vinaphone.com.vn/new/homepage">Tin tức</a><span class="item split">|</span> <a class="item" href="http://www.vinaphone.com.vn/services/homepage">Dịch vụ</a><span class="item split">|</span> <a class="item" href="http://vinaphone.com.vn/devices/homepage">Thiết bị</a><span class="item split">|</span> <a class="item" href="http://www.vinaphone.com.vn/products/homepage">Gói cước</a><span class="item split">|</span> <a class="item" href="http://vinaphone.com.vn/supports/homepage">Hỗ trợ</a><span class="item split">|</span> <a class="item" href="http://vinaphone.com.vn/supports/support">Liên hệ</a><span class="item split">|</span> <a class="item" href="http://vinaphone.com.vn/locale.do?language=en">English</a>
                <div class="info-pad info">
                    Phát triển bởi VinaPhone 2005-2013. Bản quyền đã đăng ký.</div>
                <div class="info">
                    Giấy phép số: 337/GP-BC do Bộ Thông tin - Truyền thông cấp ngày 10/11/2006.
                </div>
            </div>
        </div>
    </div>
</body>
</html>
