<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Triệu phú thể thao</title>
    <link href="../Style/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="banner">
        <div class="center center-relative">
            <a class="logo" href="http://vinaphone.com.vn"></a>
            <div class="menu-sub">
                <div class="repeat">
                    <a class="item" href="http://vinaphone.com.vn/supports/dangkydichvu">Đăng ký DV</a><span class="item split">|</span> <a class="item" href="http://billing.vinaphone.com.vn/">Tra cước</a><span class="item split">|</span> <a class="item" href="http://chonso.vinaphone.com.vn/">Chọn số</a><span class="item split">|</span> <a class="item" href="http://cskh.vinaphone.com.vn/">CSKH</a><span class="item split">|</span> <a class="item" href="http://vinaphone.com.vn/personals/homepage">Trang cá nhân</a> <a class="item-login margin-left" href="http://vinaphone.com.vn/login.jsp?lang=vi">Đăng nhập</a><span class="item-login split">|</span> <a class="item-login" href="http://vinaphone.com.vn/personal/register.do">Đăng ký</a></div>
                <div class="left">
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="center">
            <a class="home" href="#"></a><a class="item" href="#">Kiểm tra mã dữ thưởng</a> <a class="item active" href="#">Hướng dẫn cách chơi</a> <a class="item" href="#">Khách hàng trúng thưởng</a> <a class="item" href="#">Thể lệ giải thưởng</a> <a class="item" href="#">Hỏi đáp</a> <a class="item" href="#">Liên hệ</a>
        </div>
    </div>
    <div class="content content-none">
        <div class="center center-relative guide-with">
            <div class="transparent">
            </div>
            <div class="guide">
             <center>
                    <h2>HƯỚNG DẪN CÁCH CHƠI</h2>
                    </center>
                <ul class="first" style="list-style: none;">
                    <li><span style="font-size: 14px; font-weight: bold;">1. CÁCH THỨC ĐĂNG KÝ</span>
                        <ul style="list-style: none;">
                            <li>Để đăng ký dịch vụ và có cơ hội tham gia chương trình khuyến mại, khách hàng soạn tin <b>DK</b> gửi 9696 (cước thuê bao: 5.000đ/ngày, miễn phí ngày đầu tiên cho các khách hàng đăng ký dịch vụ lần đầu). </li>
                        </ul>
                    </li>
                    <li><span style="font-size: 14px; font-weight: bold;">2. CÁCH THỨC HỦY</span>
                        <ul style="list-style-type: square;">
                            <li><b>Bước 1:</b> khách hàng nhắn tin theo cú pháp <strong>HUY</strong> gửi đến 9696.</li>
                            <li><b>Bước 2:</b> Hệ thống sẽ gửi khách hàng 01 tin nhắn để khách hàng xác nhận chắc chắn muốn hủy bỏ dịch vụ khỏi hệ thống, để xác nhận hủy dịch vụ khách hàng nhắn <b>Y</b> gửi 9696, khi đó:
                                <ul>
                                    <li>Hệ thống sẽ dừng gửi các bản tin về chương trình hàng ngày, dừng gửi tin nhắn dự đoán cho khách hàng.</li>
                                    <li>Điểm tích lũy và Mã dự thưởng của khách hàng thuộc chương trình khuyến mại sẽ không được bảo lưu để tham gia các giải đặc biệt trong ngày.</li>
                                </ul>
                            </li>
                            <li>Dịch vụ sẽ chỉ được hủy sau khi khách hàng đã hoàn tất 2 bước trên.</li>
                            <li>Ngoài ra, khách hàng cũng có thể gọi đến tổng đài 9191 để đề nghị dừng tham gia chương trình và không tiếp tục nhận tin nhắn dự đoán từ hệ thống.</li>
                            <li>Sau khi đã hủy dịch vụ, nếu khách hàng muốn tiếp tục sử dụng dịch vụ, khách hàng phải đăng ký lại để được tiếp tục nhận bản tin thể thao hàng ngày (5.000đ/ngày).</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="center center-relative">
            <a class="logo" href="http://vinaphone.com.vn"></a>
            <div class="footer-menu">
                <a class="item" href="http://www.vinaphone.com.vn/">Trang chủ</a><span class="item split">|</span> <a class="item" href="http://www.vinaphone.com.vn/aboutus/gioithieu">Giới thiệu</a><span class="item split">|</span> <a class="item" href="http://www.vinaphone.com.vn/new/homepage">Tin tức</a><span class="item split">|</span> <a class="item" href="http://www.vinaphone.com.vn/services/homepage">Dịch vụ</a><span class="item split">|</span> <a class="item" href="http://vinaphone.com.vn/devices/homepage">Thiết bị</a><span class="item split">|</span> <a class="item" href="http://www.vinaphone.com.vn/products/homepage">Gói cước</a><span class="item split">|</span> <a class="item" href="http://vinaphone.com.vn/supports/homepage">Hỗ trợ</a><span class="item split">|</span> <a class="item" href="http://vinaphone.com.vn/supports/support">Liên hệ</a><span class="item split">|</span> <a class="item" href="http://vinaphone.com.vn/locale.do?language=en">English</a>
                <div class="info-pad info">
                    Phát triển bởi VinaPhone 2005-2013. Bản quyền đã đăng ký.</div>
                <div class="info">
                    Giấy phép số: 337/GP-BC do Bộ Thông tin - Truyền thông cấp ngày 10/11/2006.
                </div>
            </div>
        </div>
    </div>
</body>
</html>
