<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VNPNumber" value=",124,123,125,127,129,91,94"/>
    
  </appSettings>
  <connectionStrings>
    <add name="MySQLConnection_Gateway" providerName="MySql.Data.MySqlClient" connectionString="ZSAZhMA6Ng1D9KgZ3l7HIFnfdOttcjLscy1XE/zRSCfBVui2aeaDbg+oXela3iFAtQm1OyjljpCrbT9d74utfg=="/>

  </connectionStrings>
</configuration>