<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="LicenseKey" value="oS/OuBhRatlgQFIjps25BxMp0AI0K8HNIksCXhqoAsKOpb+6I1dPqRamyg/MfbkJ3zCHGNqiHSGbaKvhF/e7Vw=="/>
    <add key="Domain" value="http://localhost:8082/SportMillion_CCare"/>

    <add key="SSOLink" value="http://thethao.vinaphone.com.vn:8080/SSO"/>
    <add key="SSOLink_Private" value="http://10.211.0.250:8080"/>
  </appSettings>
  <connectionStrings>
    <remove name="strConnection"/>
    <!--<add name="strConnection" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZhsb1vyow/ERqCSJPVSdFTZQiHdi0u4sJAbNL2sB0rbQRyARH4CjXjFgSvI93CFwH/WRheQ3YUiFMM+RD913CUoeE9egsgM0Glbp7qFqgTRSu2erpeFJCT4fnY6in8URhBInfdekh5VdX9qwJRaVOdIehNp0CtzP44oPKAKXquv7c="/>-->
    <add name="MySQLConnection_Gateway" providerName="MySql.Data.MySqlClient" connectionString="ZSAZhMA6Ng1D9KgZ3l7HIFnfdOttcjLscy1XE/zRSCfBVui2aeaDbg+oXela3iFAtQm1OyjljpCrbT9d74utfg=="/>
    <!--Host-->
    <add name="strConnection" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueZQjZnpQ9yUpKw9EhJARLtJ1zYHwto9s5Ptmtn9zAXaSo2tbj0ssPfF4M6V4uKOXLF8dKGHcOrWRYVQu4KXNl0SA+ovWdMAWHCWEn0wcZaj6KPhOXSQASyyw1Hsq/flRvNHa5zunYDK00shueoBwfVTGOOfPpaz+ly2KRwKC+eqqa8S04s9PHggQKWi3Rcthxw="/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SportMillionSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8082/MyService_SportMillion/SportMillion.asmx" binding="basicHttpBinding" bindingConfiguration="SportMillionSoap" contract="WS_SportMillion.SportMillionSoap" name="SportMillionSoap"/>
    </client>
  </system.serviceModel>
</configuration>